<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h1 class="modal-title" id="myModalLabel">Nuevo cliente</h1>
</div>
<%= form_for(@cliente, :remote => true) do |f| %>
<div class="modal-body">
  <div class="field">
    <%= f.label :nombre %>
    <%= f.text_field :nombre, required:true %>
    <%= f.label :numero_de_identificacion, "C.I O RUC" %>
    <%= f.text_field :numero_de_identificacion, required:true%>
    <%= f.label :direccion %>
    <%= f.text_field :direccion %>
    <%= f.label :telefono %>
    <%= f.text_field :telefono %>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
  <%= f.submit 'Guardar', class: "btn btn-primary", :remote => true %>
</div>
<% end %>
