<%- if @cliente.errors.any? %>
  $('#content_modal').html('<%= escape_javascript(render('form')) %>');
  window.Helpers.ButtonsHelper.init();
  window.Helpers.FormsHelper.init()
  <%- @cliente.errors.full_messages.each do |msg|%>
    alertify.error("<%=j msg %>");
  <%- end %>
<%- else %>
  $("#myModal").modal("hide");
  $('body').removeClass('modal-open');
  $('.modal-backdrop').remove();
  $(".table-clientes").html('<%= j render 'clientes', clientes: @clientes %>');
  window.Helpers.init_datatables();
  window.Helpers.ButtonsHelper.init();
  window.Helpers.FormsHelper.init()
  alertify.success("Cliente guardado");
  $(".direccion").val("<%=j @cliente.direccion %>");
  $(".cliente_id").val("<%=j @cliente.id.to_s %>");
  $(".nombre").val("<%=j @cliente.nombre %>");
  $(".telefono").val("<%=j @cliente.telefono %>");
  $(".numero_de_identificacion").val("<%=j @cliente.numero_de_identificacion %>");
<%- end %>