<%= link_to 'Nueva', new_hospitalizacion_path, class: "nuevo_new"  %>
<h2 class="text-center">Comprobantes de Hospitalizados</h2>

<div class=" col-md-10 col-md-offset-1 table-responsive">
  <%= render "hospitalizacion"%>  
</div>
