<h3 class="text-center">Hospitalización</h3>
<div class="row">
<%= nested_form_for @hospitalizacion do |f| %>
<%= form_errors_for @hospitalizacion %>
<div class="col-md-6">
	<h6 class="text-muted text-right fecha"></h6>
	<h6 class="text-muted text-right">Vendedor: <%= current_user.username%></h6>
	<!-- formulario datos del cliente -->
	<%= f.fields_for :cliente do |cliente_params| %>
	<%=  cliente_params.hidden_field :id, class: "cliente_id" %>
	<%=  cliente_params.text_field :numero_de_identificacion, class: "form-control-border numero_de_identificacion", :placeholder => "Cédula o RUC" %>
	<%=  cliente_params.text_field :nombre, class: "form-control-border nombre", :placeholder => "Nombres Apellidos" %>
	<%=  cliente_params.text_field :direccion, class: "form-control-border direccion", :placeholder => "Dirección"%>
	<%=  cliente_params.text_field :telefono, class: "form-control-border telefono", :placeholder => "Teléfono"%>
	<% end %>
	<!-- item factura -->
	<div class="table-responsive">
		<table class="table" id="factura">
			<thead>
				<tr>
					<th class="col-sm-4">Producto</th>
					<th>Cantidad</th>
					<th>V.Unit</th>
					<th>I.V.A.</th>
					<th>Total</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<%= f.fields_for :item_hospitalizacions, :wrapper => false do |item| %>
				<tr class="fields">
					<%= render 'item_hospitalizacions/item_hospitalizacion', item:item %>
				</tr>
				<% end %>
				<tr>
					<td><%= f.link_to_add "Producto", :item_hospitalizacions, :class => "nuevo_new"%>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<!-- datos de impuestos factura -->
<div class="col-md-2 col-md-offset-1">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">IMPUESTOS %</h3>
		</div>
		<div class="panel-body">
			<table>
				<thead>
					<th></th>
					<th></th>
				</thead>
				<tbody>
					<tr>
						<td>
							<h6>Subtotal:</h6>
							<h6>Descuento:</h6>
							<h6>I.V.A:</h6>
							<h4>TOTAL:</h4>
						</td>
						<td>
							<%= f.text_field :subtotal, class: "input-noborder subtotal_0 text-right", :readonly => true%>
							<%= f.text_field :descuento, class: "input-noborder descuento_factura text-right", :readonly => true%>
							<%= f.text_field :iva, class: "input-noborder iva_factura text-right", :readonly => true%>
							<%= f.text_field :total, class: "input-noborder total_factura text-right", :readonly => true%>
						</td>
					</tr>
				</tbody>
			</table>
			<br>
			<%= f.submit :Guardar, class: "guardar_factura guardar_submit btn-block", data: {disable_with: "Almacenando"}%>
		</div>
	</div>
</div>
<% end %>
</div>
<div clas ="row">
		<%= link_to "Registros de hospitalizacion", hospitalizacions_path, class: "atras_back" %>
</div>