$(".tab-content").html("<%= j render('reporte') %>");
window.Helpers.ButtonsHelper.init();
window.Helpers.DateHelper.init();
window.Helpers.Datepicker.init_datepicker();
window.Helpers.Datepicker.init_datepicker_month();
window.Helpers.FormsHelper.init();
