<%= link_to ' Imprimir', {:format => :pdf} , {:target => "_blank"} %>
<% if @search == 0 %>
  <h3>No se encontro ninguna factura</h3>
<% else %>
  <%case @tipo_factura%>
    <%when "venta"%>
    <h3>Reporte de Facturas  de Ventanilla  desde:</h3>
    <h4><%= @start_date%> hasta <%= @end_date%></h4>
    <table class="table table-hover table-print">
      <thead>
        <tr>
          <th>Nº Factura</th>
          <th>Cliente</th>
          <th>Dirección</th>
          <th>Vendedor</th>
          <th>Fecha</th>
          <th>Sub Total</th>
          <th>IVA</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
      <% @search.each do |value, key|  %>
        <% key.each do |factura| %>
          <tr>
            <td><%= factura.numero %></td>
            <td><%= factura.cliente.nombre %></td>
            <td><%= factura.cliente.direccion %></td>
            <td><%= factura.user.username %></td>
            <td><%= local_date(factura.created_at,"datetime") %></td>
            <td><%= factura.subtotal_0 %></td>
            <td><%= factura.iva %></td>
            <td><%= factura.total %></td>
          </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>
    <h4>Facturas Emitidas: <%= @cantidad_ventanilla%> </h4>
    <h4>Total de Venta: <%= redondear(@total_ventanilla) %> </h4>
  <%when "hospitalizacion"%>
    <h3>Reporte de Ventas de Hospitalización desde:</h3>
    <h4><%= @start_date%> hasta <%= @end_date%></h4>
    <table class="table table-hover table-print">
      <thead>
        <tr>
          <th>Nº</th>
          <th>Cliente</th>
          <th>Dirección</th>
          <th>Servicio</th>
          <th>Rango</th>
          <th>Vendedor</th>
          <th>Fecha</th>
          <th>Sub Total</th>
          <th>IVA</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <% @search.each do |h| %>
        <tr>
          <td><%= h.numero %></td>
          <td><%= h.cliente.nombre%></td>
          <td><%= h.cliente.direccion %></td>
          <td>ninguno</td>
          <td>ninguno</td>
          <td><%= h.user.username %></td>
          <td><%= local_date(h.created_at,"datetime") %></td>
          <td><%= redondear(h.subtotal) %></td>
          <td><%= redondear(h.iva) %></td>
          <td><%= redondear(h.total) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <h4>Comprobantes Emitidos: <%= @search.count%></h4>
    <h4>Total de Venta: <%= redondear(@search.sum(:total)) %></h4>
  <%when "compra"%>
    <h3>Reporte de Facturas  de Compra  desde:</h3>
    <h4><%= @start_date%> hasta <%= @end_date%></h4>
    <table class="table table-hover table-print">
      <thead>
        <tr>
          <th>Nº Factura</th>
          <th>Proveedor o casa comercial</th>
          <th>Dirección</th>
          <th>Registrado por</th>
          <th>Fecha</th>
          <th>Sub Total</th>
          <th>IVA</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
      <% @search.each do |value, key|  %>
        <% key.each do |factura| %>
          <tr>
            <td><%= factura.numero %></td>
            <td><%= factura.proveedor.nombre_o_razon_social %></td>
            <td><%= factura.proveedor.direccion %></td>
            <td><%= factura.user.username %></td>
            <td><%= local_date(factura.created_at,"datetime") %></td>
            <td><%= factura.subtotal_0 %></td>
            <td><%= factura.iva %></td>
            <td><%= factura.total %></td>
          </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>
    <h4>Comprobantes Ingressados: <%= @cantidad_compra%> </h4>
    <h4>Total de Compras: <%= @total_compra %> </h4>
  <%when "transferencia"%>
    <h3>Reporte de Transferencias desde:</h3>
    <h4><%= @start_date%> hasta <%= @end_date%></h4>
    <table class="table table-hover table-print">
      <thead>
        <tr>
          <th>Nº</th>
          <th>Tansferencia a</th>
          <th>Emitido por</th>
          <th>Entregado a</th>
          <th>Fecha y Hora</th>
          <th>Sub Total</th>
          <th>IVA</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <% @search.each do |t| %>
        <tr>
          <td><%= t.numero %></td>
          <td><%= t.servicio%></td>
          <td><%= t.user.username %></td>
          <td><%= t.entregado_a%></td>
          <td><%= local_date(t.created_at,"datetime") %></td>
          <td><%= redondear(t.subtotal)%></td>
          <td><%= redondear(t.iva) %></td>
          <td><%= redondear(t.total) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <h4>Total de Transferencias: <%= @search.count%> </h4>
    <h4>Total de Venta: <%= redondear(@search.sum(:total)) %></h4>
    <% end %>
<% end %>
