<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h4 class="modal-title" id="myModalLabel">VENTAS DE HOY</h4>
</div>
<div class="modal-body">
	<% if  @total_ventanilla == 0%>
	<h3>No has facturado nada Aun!..</h3>
	<% else %>
	<div class="row">
		<div class="col-md-6 col-xs-12 text-center">
			<div class="today-total">
				<div class = "hoy">
					<h6 class="text-muted">TOTAL DEL DIA</h6>
					<h1 class="total-num">$ <%= redondear(@total_ventanilla) %></h1>
				</div>
				<div class="numbers col-xs-12 text-center">
					<div class="col-md-4 col-xs-4">
						<span class="text-muted"><small>Emitidas</small></span>
						<strong><%= @cantidad_ventanilla %></strong>
					</div>
					<div class="col-md-4 col-xs-4">
						<span class="text-muted"><small>Subtotal</small></span>
						<strong><%= redondear(@ventanilla_subtotal) %></strong> 
					</div>
					<div class="col-md-4 col-xs-4">
						<span class="text-muted"><small>Iva</small></span>
						<strong><%= redondear(@ventanilla_iva) %></strong>
					</div> 
				</div>
			</div>
		</div>
		<div class="col-md-6 col-xs-10 text-muted">
			<blockquote>
				<h6><i class= "fa fa-clock-o"></i> Primera Factura: 16:00 am</h6>
				<h6><i class= "fa fa-clock-o"></i> Ultima Factura: 20:00 am</h6>
				<h6><i class= "fa fa-clock-o"></i> Ultima Factura: 20:00 am</h6>
				<h6><i class= "fa fa-clock-o"></i> Ultima Factura: 20:00 am</h6>
			</blockquote>
		</div>
	</div>
	<% end %>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
	<%= link_to ' Imprimir', {:format => :pdf} , {:class => "btn btn-success", :target => "_blank"} %>
</div>
