<div class="container">
	<div class="row">
		<div class="col-xs-6">
			<h3>TRANSFERENCIA #<%= @traspaso.numero%></h3>
			<h5>Dependencia: <%= @traspaso.servicio%></h5>
			<h6>Emitido por: <%= @traspaso.user.username%></h6>
			<h6>Entregado a: <%= @traspaso.entregado_a%></h6>
			<h6>Fecha de emision: <%= @traspaso.fecha_emision %></h6>
		</div>
		<div class="col-xs-6 text-right">			
				<h3>HOSPITAL BASICO 7 B.I<h3>
				<h6>Correo: hb7loja2012@gmail.com</h6>
				<h6>Telefono: (07) 257-0254</h6>
				<h6 class="text-muted">*Documento de uso interno</h6>
			</div>
		</div>
		<table class="table table-bordered">
			<thead class="well">
				<tr>
					<th>Producto</th>
					<th>Cantidad</th>
					<th>Precio</th>
					<th>Iva</th>
					<th>Total</th>
				</tr>
			</thead>
			<tbody>
				<% @traspaso.item_traspasos.each do |item| %>
				<tr>
					<td><%= item.ingreso_producto.producto.nombre%></td>
					<td><%= item.cantidad %></td>
					<td><%= item.valor_unitario %></td>
					<td><%= item.iva%></td>
					<td class="text-right"><%= item.total %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
		<div class="row text-right">
			<div class="col-xs-2 col-xs-offset-8">
				<p>
					<strong>
						Sub Total : <br>
						IVA : <br>
						Total : <br>
					</strong>
				</p>
			</div>
			<div class="col-xs-2">
				<strong>
					$ <%= @traspaso.subtotal %><br>
					$ <%= @traspaso.iva %><br>
					$ <%= @traspaso.total %><br>
				</strong>
			</div>
		</div>
	</div>
</div>