<legend>Kardex de <%= @producto.nombre%></legend>

<h4>Stock actual</h4>
<p> <%= @producto.cantidad_disponible.to_i %> </p>

<table class="data-table-without-json table-bordered">
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Tipo</th>
      <th>Módulo (Venta)</th>
      <th>Cantidad</th>
      <th>Precio</th>
      <th>Observaciones</th>
    </tr>
  </thead>
  <tbody>
    <% @lineaskardex.each do |lineakardex| %>
      <tr>
        <td><%= lineakardex.fecha.strftime("%Y-%m-%d") %></td>
        <td><%= lineakardex.tipo %></td>
        <td><%= lineakardex.modulo %></td>
        <td><%= lineakardex.cantidad.to_i %></td>
        <td><%= lineakardex.v_unitario %></td>
        <td><%= lineakardex.observaciones %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="actions">
  <%= link_to "todos los productos", productos_path, :class => "atras_back" %>
</div>
