<p>
  <strong>Cliente:</strong>
  <%= @factura.cliente.nombre%>
</p>
<p>
  <strong>Fecha de Emisión:</strong>
  <%= @factura.fecha_de_emision.to_s(:db) %>
</p>
<table class="table table-hover">
  <thead class= "well">
    <tr>
      <th>Producto</th>
      <th>Cantidad</th>
      <th>Precio</th>
      <th>Iva</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <% @factura.item_facturas.each do |item| %>
    <tr>
      <td><%= item.ingreso_producto.producto.nombre%></td>
      <td><%= item.cantidad %></td>
      <td>$ <%= item.valor_unitario %></td>
      <td>$ <%= item.iva %></td>
      <td>$ <%= item.total %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<h4 class="text-success text-right">
  <strong>Total: $</strong>
  <%= @factura.total %>
</h4>
