<h3 class="text-center">REPORTE DE CIERRE DE CAJA:</h3>
<div class="fix-margin">
	<h5>Fecha: <span class="fecha_sin_hora"></span></h5>
	<h5>Usuario: <%= current_user.username %></h5>
	<h5>Rol: <%= current_user.rol.nombre %></h5>
</div>
<div class="col-md-2">
	<table class="table table-print">
		<thead>
			<tr>
				<th>Impuestos</th>
				<th>Total</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Subtotal:</td>
				<td><%= redondear(@ventanilla_subtotal) %></td>
			</tr>
			<tr>
				<td>Iva:</td>
				<td><%= redondear(@ventanilla_iva) %></td>
			</tr>
			<tr>
				<td><strong>Total</strong></td>
				<td><strong><%= redondear(@total_ventanilla) %></strong></td>
			</tr>
		</tbody>
	</table>
	<small>Facturas Emitidas: <strong><%= @cantidad_ventanilla%></strong></small>
</div>
<h5 class="fix-margin text-center">Resumen de Facturas</h5>
<div class="col-md-8">
	<table class="table table-print">
		<thead>
			<tr>
				<th>Numero</th>
				<th>Cliente</th>
				<th>Subtotal</th>
				<th>Iva</th>
				<th>Total</th>
			</tr>
		</thead>
		<tbody>
			<% @facturas.each do |value, key|  %>
			<% key.each do |factura| %>
			<tr>
				<td><%= factura.numero %></td>
				<td><%= factura.cliente.nombre %></td>
				<td><%= factura.subtotal_0 %></td>
				<td><%= factura.iva %></td>
				<td><%= factura.total %></td>
			</tr>
			<% end %>
			<% end %>
		</tbody>
	</table>
</div>

