<h3 class="text-center">Factura de Venta</h3>
<%= nested_form_for @factura, :remote => true do |f| %>
<%= form_errors_for @factura %>
<div class="col-md-7">
	<h6 class="text-muted text-right fecha"></h6>
	<h6 class="text-muted text-right">Vendedor: <%= current_user.username%></h6>
	<!-- formulario datos del cliente -->
	<%= f.fields_for :cliente do |cliente_params| %>
	<%=  cliente_params.hidden_field :id, class: "cliente_id" %>
	<%=  cliente_params.text_field :numero_de_identificacion, class: "form-control-border numero_de_identificacion", :placeholder => "Cédula o RUC" %>
	<%=  cliente_params.text_field :nombre, class: "form-control-border nombre", :placeholder => "Nombres Apellidos" %>
	<%=  cliente_params.text_field :direccion, class: "form-control-border direccion", :placeholder => "Dirección"%>
	<%=  cliente_params.text_field :telefono, class: "form-control-border telefono", :placeholder => "Teléfono"%>
	<% end %>
	<!-- item factura -->
	<div class="table-responsive">
		<table class="table" id="factura">
			<thead>
				<tr>
					<th>Producto</th>
					<th>Cantidad</th>
					<th>V.Unit</th>
					<th>I.V.A.</th>
					<th>Total</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<%= f.fields_for :item_facturas, :wrapper => false do |item_factura| %>
				<tr class="fields">
					<%= render 'item_facturas/itemfacturas', item_factura:item_factura %>
				</tr>
				<% end %>
				<tr>
					<td><%= f.link_to_add "Producto", :item_facturas, :class => "nuevo_new"%>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<!-- datos de impuestos factura -->
<div class="col-md-2 col-md-offset-1">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">IMPUESTOS %</h3>
		</div>
		<div class="panel-body">
			<table>
				<thead>
					<th></th>
					<th></th>
				</thead>
				<tbody>
					<%= f.hidden_field :tipo %>
					<tr>
						<td class ="text-left">Sub 0%: </td>
						<td class ="text-center subtotal_0">0.0</td>
					</tr>
					<tr>
						<td class ="text-left">Sub 12%: </td>
						<td class ="text-right subtotal_12">0.0</td>
					</tr>
					<tr>
						<td class ="text-left">Desc: </td>
						<td class ="text-right descuento_factura">0.0</td>
					</tr>
					<tr>
						<td class ="text-left">IVA: </td>
						<td class ="text-right iva_factura">0.0</td>
					</tr>
					<tr>
						<td class ="text-left">TOTAL: </td>
						<td class ="text-right total_factura">0.0</td>
					</tr>
				</tbody>
			</table>
			<br>
			<%= f.submit :Guardar, class: "guardar_factura guardar_submit btn-block", data: {disable_with: "Almacenando"}%>
		</div>
	</div>
</div>
<% end %>
