<small>
  Cliente: <%= @factura.cliente.nombre%>
</small><br>
<small>
  RUC/C.I: <%= @factura.cliente.numero_de_identificacion%>
</small><br>
<small>
  Dirección: <%= @factura.cliente.direccion%>
</small><br>
<small>
  Loja: <%= @factura.fecha_de_emision %>
</small>
<table class="table-factura">
  <thead>
    <tr>
      <th>CANT</th>
      <th>PRODUCTO</th>
      <th>V.Unt</th>
      <th>TOTAL</th>
    </tr>
  </thead>
  <tbody>
    <% @factura.item_facturas.each do |item| %>
    <tr>
      <td><%= item.cantidad %></td>
      <td><%= item.ingreso_producto.producto.nombre%></td>
      <td><%= item.valor_unitario %></td>
      <td>$ <%= item.total %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<div class="text-right impuestos">
  <small class="imp-factura">SUB: <%= @factura.subtotal_0 %></small><br>
  <small class="imp-factura">IVA: <%= @factura.iva %></small><br>
  <small class="imp-factura">DESC: <%= @factura.descuento %></small><br>
  <small class="imp-factura">TOTAL: <%= @factura.total %></small><br>
</div>
