<div class="productos-compras col-md-12">
  <div class="panel panel-default panel-compra">
    <div class="panel-heading">
      <h4 class="panel-title">
      <%= f.link_to_remove '', :class => "eliminar_item_compra fa fa-times" %>
        <strong class="nombre_item">Item Compras $</strong><strong class= "total_item">0.00</strong><span class="pull-right clickable fa fa-chevron-up"></span>
      </h4>
    </div>
    <div class="panel-body form-producto">
      <div class="field">
        <div class="row">
          <div class="col-md-6">
            <%= f.hidden_field :id, :class => "producto_id" %>
            <%= f.label :nombre %>
            <%= f.text_field :nombre, :class => "nombre_producto"%>
          </div>
          <div class="col-md-6">
            <%= f.label :nombre_generico, "Nombre Genérico" %>
            <%= f.text_field :nombre_generico, :class => "nombre_generico" %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <%= f.label :codigo, "Código" %>
            <%= f.text_field :codigo, :class => "codigo" %>
          </div>
          <div class="col-md-6">
            <%= f.label :categoria, "Categoría" %>
            <%= f.text_field :categoria, :class => "categoria"%>
          </div>
        </div>
        <%= f.label :casa_comercial %>
        <%= f.text_field :casa_comercial, :class => "casa_comercial" %>
        <div class="row">
          <div class="col-md-4">
            <%= f.label :precio_compra, "Precio de compra" %>
            <%= f.number_field :precio_compra,:class => "precio_compra", :placeholder => "0.00", min: "0", step: "any"%>
          </div>
          <div class="col-md-4">
            <%= f.label :ganancia %>
            <%= f.number_field :ganancia, :class=> "ganancia", :placeholder => "0.00", min: "0", :step => "any" %>
          </div>
          <div class="col-md-4 text-center">
            <%= f.label :hasiva, "Tiene IVA?" %>
            <%= f.check_box :hasiva %>
          </div>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th>Fecha Caducidad</th>
              <th>Cantidad</th>
              <th>Lote</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <%= f.fields_for :ingreso_productos, :wrapper => false do |item| %>
            <tr class="fields_producto">
              <%= render "productos/ingresos", p: item %>
            </tr>
            <% end %>
            <tr><td><%= f.link_to_add "Compra", :ingreso_productos, :class => "nuevo_new"%></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>  
