<td class=" col-md-6">
  <input type="text" class= "form-control-border autocomplete_producto" placeholder= " Ingrese Producto" required= true >
</td>
<td>
  <%=  item_factura.hidden_field :ingreso_producto_id, class: "ingreso_producto_id" %>
  <%=  item_factura.number_field  :cantidad, class: "form-control-border cantidad", :placeholder => "0", min: "1", value: 1 %>
</td>
<td class ="valor_unitario">0.0</td>
<td class ="iva">0.0</td>
<td class ="total_item">0.0</td>
<td><%= item_factura.link_to_remove '', :class => "delete_destroy eliminar_item" %></td>
<td><input type="text" class="hasiva hidden"></td>
