<%= nested_form_for @user do |f| %>
<%= form_errors_for @user %>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="panel panel-default">
      <div class="panel-body field">
        <h3 class= "text-center">Crear Usuarios</h3>
        <%= f.fields_for :cliente do |cliente_params| %>
        <%=  cliente_params.text_field :nombre, :placeholder => "Nombres Apellidos" %>
        <br>
        <%=cliente_params.text_field :numero_de_identificacion, :placeholder=> "C.I O RUC"%>
        <% end %>
        <br>
        <%= f.text_field :username, :placeholder => "Nombre de Usuario" %>
        <br>
        <%= f.select :rol, Rol.all.map { |rol| [rol.nombre, rol.id ] },{ :prompt => "Seleccione Rol"}, {class: "form-control"}%>
        <br>
        <%= f.password_field :password, :placeholder => "Clave" %>
        <br>
        <%= f.password_field :password_confirmation, :placeholder => "Confirmar Clave" %>
        <br>
        <%= f.hidden_field(:cliente_id) %>
        <div class="input-group">
          <%= f.submit :Guardar, class: "btn btn-success", data: {disable_with: "Almacenando"}%>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
