<!-- <td>
  <input type="text" class= "form-control-border codigo" readonly= true>
</td>-->
 <td>
  <input type="text" class= "form-control-border autocomplete_producto" placeholder= " ingrese producto">
</td>
<td>
  <%=  item_proformas.hidden_field :ingreso_producto_id, class: "ingreso_producto_id" %>
  <%=  item_proformas.number_field  :cantidad, class: "form-control-border cantidad", :placeholder => "0", min: "1", value: 1 %>
</td>
<td>
  <%=  item_proformas.text_field :valor_unitario, class: "form-control-border text-center valor_unitario", :placeholder => "0", min: "0", :readonly => true, value: 0.0 %>
</td>
<td>
  <%=  item_proformas.text_field :descuento, class: "form-control-border text-center descuento", :placeholder => "Desct.", value: "0.0" %>
</td>
<td>
  <%=  item_proformas.text_field :iva, class: "form-control-border text-center iva", :placeholder => "0.0", :readonly => true, value: "0.0"%>
</td>
<td>
  <%=  item_proformas.text_field :total, class: "form-control-border text-center total", :placeholder => "Total", :readonly => true, value: 0.0 %>
</td>
<td><%= item_proformas.link_to_remove '', :class => "delete_destroy eliminar_item" %></td>
<td><input type="text" class="hasiva hidden"></td>
