<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h3 class="modal-title" id="myModalLabel">Nuevo Proveedor</h3>
</div>
<%= form_for(@proveedor, :remote => true) do |f| %>
<div class="modal-body">
  <div class= "field">
    <%= f.label :Nombre %>
    <%= f.text_field :nombre_o_razon_social, required:true %>
    <%= f.label :Dirección %>
    <%= f.text_field :direccion%>
    <%= f.label :Identificación %>
    <%= f.text_field :numero_de_identificacion, required:true%>
    <%= f.label :Teléfono %>
    <%= f.text_field :telefono%>
    <%= f.label :Código %>
    <%= f.text_field :codigo, required:true%>
    <%= f.label :Representante_Legal %>
    <%= f.text_field :representante_legal, class: "form-control datepicker", required:true%>
    <%= f.label :País %>
    <%= f.text_field :pais%>
    <%= f.label :Ciudad %>
    <%= f.text_field :ciudad%>
    <%= f.label :Fax%>
    <%= f.text_field :fax%>
  </div>
</div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
  <%= f.submit 'Guardar', class: "btn btn-primary"%>
</div>
<% end %>



