<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h3 class="modal-title" id="myModalLabel">Información</h3>
</div>
<div class="modal-body">
  <p id="notice"><%= notice %></p>
  <p>
    <strong>Nombre o Razon Social:</strong>
    <%= @proveedor.nombre_o_razon_social %>
  </p>
  <p>
    <strong>Dirección:</strong>
    <%= @proveedor.direccion %>
  </p>
  <p>
    <strong>Número de identificación:</strong>
    <%= @proveedor.numero_de_identificacion %>
  </p>
  <p>
    <strong>Teléfono:</strong>
    <%= @proveedor.telefono %>
  </p>
  <p>
    <strong>Código:</strong>
   <%= @proveedor.codigo%>
  </p>
  <p>
    <strong>Ciudad:</strong>
   <%= @proveedor.ciudad%>
  </p>
  <p>
    <strong>País:</strong>
   <%= @proveedor.pais%>
  </p>
  <p>
    <strong>Fax:</strong>
   <%= @proveedor.fax%>
  </p>
  <p>
    <strong>Representante Legal:</strong>
   <%= @proveedor.representante_legal%>
  </p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Salir</button>
</div>