<%= nested_form_for @proforma, :remote => true do |f| %>
<%= form_errors_for @proforma %>
<div class="col-md-7">
  <h6 class="text-muted text-right fecha"></h6>
  <!-- formulario datos del cliente -->
  <%= f.fields_for :cliente do |cliente_params| %>
  <%=  cliente_params.hidden_field :id, class: "cliente_id" %>
  <%=  cliente_params.text_field :numero_de_identificacion, class: "form-control-border numero_de_identificacion", :placeholder => "Cédula o RUC" %>
  <%=  cliente_params.text_field :nombre, class: "form-control-border nombre", :placeholder => "Nombres Apellidos" %>
  <%=  cliente_params.text_field :direccion, class: "form-control-border direccion", :placeholder => "Dirección"%>
  <%=  cliente_params.text_field :telefono, class: "form-control-border telefono", :placeholder => "Teléfono"%>
  <% end %>
  <!-- item proformas -->
  <div class="table-responsive">
    <table class="table" id="proforma">
      <thead>
        <tr>
          <th class="col-sm-4">Producto</th>
          <th>Cantidad</th>
          <th>V.Unit</th>
          <th>Descuento</th>
          <th>I.V.A.</th>
          <th>Total</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <%= f.fields_for :item_proformas, :wrapper => false do |item_proformas| %>
        <tr class="fields">
          <%= render 'item_proformas/item_proformas', item_proformas:item_proformas %>
        </tr>
        <% end %>
        <tr>
          <td><%= f.link_to_add "Producto", :item_proformas, :class => "nuevo_new"%>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- datos de impuestos proforma -->
<div class="col-md-2 col-md-offset-1">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">IMPUESTOS %</h3>
    </div>
    <div class="panel-body">
      <table>
        <thead>
          <th></th>
          <th></th>
        </thead>
        <tbody>
          <tr>
            <td>
              <h6>Sub 0%:</h6>
              <h6>Descuento:</h6>
              <h6>Sub 12%:</h6>
              <h6>I.V.A:</h6>
              <h4>TOTAL:</h4>
            </td>
            <td>
             
              <%= f.text_field :subtotal_0, class: "input-noborder subtotal_0 text-right", :readonly => true%>
              <%= f.text_field :descuento, class: "input-noborder descuento_factura text-right", :readonly => true%>
              <%= f.text_field :subtotal_12, class: "input-noborder subtotal_12 text-right",:readonly => true%>
              <%= f.text_field :iva, class: "input-noborder iva_factura text-right", :readonly => true%>
              <%= f.text_field :total, class: "input-noborder total_factura text-right", :readonly => true%>
            </td>
          </tr>
        </tbody>
      </table>
      <br>
      <%= f.submit :Guardar, class: "guardar_submit btn-block", data: {disable_with: "Almacenando"}%>
    </div>
  </div>
</div>
<% end %>
