<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 class="modal-title" id="myModalLabel">Proforma<span class="text-right"> Nº<%= @proforma.numero%></span></h3>
</div>
<div class="modal-body">
  <!-- <p id="notice"><%= notice %></p> -->
  <p>
    <strong>Cliente:</strong>
    <%= @proforma.cliente.nombre%>
  </p>
  <p>
    <strong>Fecha de Emisión:</strong>
    <%= @proforma.fecha_emision %>
  </p>
    <table class="table table-hover">
  <thead class= "well">
    <tr>
      <th>Producto</th>
      <th>Cantidad</th>
      <th>Precio</th>
      <th>Iva</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <% @proforma.item_proformas.each do |item| %>
      <tr>
        <td><%= item.ingreso_producto.producto.nombre%></td>
        <td><%= item.cantidad %></td>
        <td><%= item.valor_unitario %></td>
        <td><%= item.iva %></td>
        <td><%= item.total %></td>
      </tr>
    <% end %>
  </tbody>
</table>
  <h4 class="text-success text-right">
    <strong>Total: $</strong>
    <%= @proforma.total %>
  </h4>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Salir</button>
</div>
