<div class=" col-md-10 col-md-offset-1 table-responsive">
<legend>Lista Proformas</legend>
<table class="data-table table-bordered data-table" data-source="<%= proformas_url(format: "json") %>">
  <thead>
    <tr>
      <th>Cliente</th>
      <th>Número</th>
      <th>Total</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table> 
</div>


