<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%=link_to image_tag("/images/logo1.png", :width=>45, :heigth=>45), "",class: "brand_img"%>
      <ul class="nav navbar-nav navbar-left">
        <a class="navbar-brand" href="#">SISFA</a>
      </ul>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span class="fa fa-user"></span>
            <%=current_user.username %> 
            <b class="fa fa-angle-down"></b>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Perfil', edit_user_path(current_user), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#myModal'}%></li>
            <li class="divider"></li>
            <li><%=link_to("Salir", :controller => 'user_sessions', :action => 'destroy')%></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-left">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Pacientes
            <b class="fa fa-angle-down"></b>
          </a>
          <ul class="dropdown-menu">
            <li><%=link_to("Nuevo", new_registro_path)%></li>
            <li class="divider"></li>
            <li><%=link_to("Lista de Pacientes", registros_path)%></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-left">
        <li><%=link_to "Libro Diario", registros_libro_diario_path%></li>
      </ul>
      <ul class="nav navbar-nav navbar-left">
        <li><%=link_to "Reportes"%></li>
      </ul>
    </div>
  </div>
</nav>
