<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h3 class="modal-title" id="myModalLabel">Nuevo Producto</h3>
</div>
<%= nested_form_for @producto, :remote => true do |f| %>
<div class="modal-body">
<div class="field">
        <div class="row">
          <div class="col-md-6">
            <%= f.hidden_field :id %>
            <%= f.label :nombre %>
            <%= f.text_field :nombre, :class => "nombre_producto"%>
          </div>
          <div class="col-md-6">
            <%= f.label :nombre_generico, "Nombre Genérico" %>
            <%= f.text_field :nombre_generico %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <%= f.label :codigo, "Código" %>
            <%= f.text_field :codigo %>
          </div>
          <div class="col-md-6">
            <%= f.label :categoria,"Categoría" %>
            <%= f.text_field :categoria%>
          </div>
        </div>
        <%= f.label :casa_comercial %>
        <%= f.text_field :casa_comercial%>
        <div class="row">
          <div class="col-md-4">
            <%= f.label :precio_compra, "Precio de compra" %>
            <%= f.number_field :precio_compra,:class => "precio_compra", :placeholder => "0.00", min: "0", step: "any"%>
          </div>
          <div class="col-md-4">
            <%= f.label :ganancia %>
            <%= f.number_field :ganancia, :placeholder => "0.00", min: "0", :step => "any" %>
          </div>
          <div class="col-md-4 text-center">
            <%= f.label :hasiva, "Tiene IVA?" %>
            <%= f.check_box :hasiva %>
          </div>
        </div>
	<table class="table">
		<thead>
			<tr>
				<th>Fecha Caducidad</th>
				<th>Cantidad</th>
				<th>Lote</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<%= f.fields_for :ingreso_productos, :wrapper => false do |p| %>
				<tr class="fields">
					<%= render "productos/ingresos", p: p %>
				</tr>
			<% end %>
			<tr><td><%= f.link_to_add "Compra", :ingreso_productos, :class => "nuevo_new"%></td>
			</tr>
		</tbody>
	</table>
</div>

</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
	<%= f.submit 'Guardar', class: "btn btn-primary"%>
</div>
<% end %>
