<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h1 class="modal-title" id="myModalLabel">Información</h1>
</div>
<div class="modal-body">
  <p>
    <strong>Nombre:</strong>
    <%= @producto.nombre %>
  </p>
  <p>
    <strong>Nombre genérico:</strong>
    <%= @producto.nombre_generico %>
  </p>
  <p>
    <strong>Categoría:</strong>
    <%= @producto.categoria %>
  </p>
  <p>
    <strong>Código:</strong>
    <%= @producto.codigo %>
  </p>
  <p>
    <strong>Casa comercial:</strong>
    <%= @producto.casa_comercial %>
  </p>
  <p>
    <strong>Precio de compra:</strong>
    <%= @producto.precio_compra %>
  </p>
  <p>
    <strong>Precio de venta:</strong>
    <%= @producto.precio_venta %>
  </p>
  <p>
    <strong>Ganancia:</strong>
    <%= @producto.ganancia %>
  </p>
  <% unless @producto.ingreso_productos.empty? %>
  <legend>Detalles del producto:</legend>
  <table class="table table-hover">
    <thead class= "well">
      <tr>
        <th>Lote</th>
        <th>Cantidad</th>
        <th>Fecha de caducidad</th>
      </tr>
    </thead>
    <tbody>
      <% @producto.ingreso_productos.each do |detalle| %>
      <% unless detalle.cantidad == 0 %>
      <tr>
        <td><%= detalle.lote %></td>
        <td><%= detalle.cantidad %></td>
        <td><%= detalle.fecha_caducidad %></td>
      </tr>
      <% end %>
      <% end %>
    </tbody>
  </table>
  <% end %>  
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Salir</button>
  <%= link_to 'Editar', edit_producto_path(producto), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#myModal', class: "editar_edit"}%>
</div>
