<%- if @producto.errors.any? %>
  $('#content_modal').html('<%= escape_javascript(render('form')) %>');
  window.Helpers.ButtonsHelper.init();
  window.Helpers.FormsHelper.init()
  <%- @producto.errors.full_messages.each do |msg|%>
    alertify.error("<%=j msg %>");
  <%- end %>
<%- else %>
  $("#myModal").modal("hide");
  $('body').removeClass('modal-open');
  $('.modal-backdrop').remove();
  $(".table-productos").html('<%= j render 'productos', productos: @productos %>');
  window.Helpers.init_datatables();
  window.Helpers.ButtonsHelper.init();
  alertify.success("Producto guardado");
<%- end %>