.form-control-border{
  border: 0;
  width: 90%;
  border-bottom: 1px solid #cccccc;
  padding-top: 5px;
  padding-left: 5px;
  /*padding-bottom: 3px;*/
}

.ningun-border{
  border: 0;
  width: 90%;
  padding-top: 5px;
  padding-left: 5px;
}

.input-noborder{
  border: 0;
  width: 100%;
  border-bottom: 1px solid #cccccc;
  padding-top: 2px;
  /*background-color: #e7e7e7;*/
}

.form-control-border:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

table.dataTable td.sorting_1{ background-color: white; border:1px lightgrey; }
table.dataTable td{ background-color: white;  border:1px lightgrey;}
table.dataTable tr.odd { background-color: white;  border:1px lightgrey;}
table.dataTable tr.even{ background-color: white; border:1px lightgrey; }

.table{margin-top: 20px;}
.total-num { margin-top:0px;font-size: 44px; }
.estadisticas {padding-top: 20px;}
.info-cierre-caja {padding-bottom: 15px}
.alert{
  /*opacity: 0.8;*/
  position: fixed;
  z-index: 999999;
  width: 300px;
  top: 65px;
  /*left: auto;*/
  /*right: auto;*/
  right: 12px;
}

.row-user{
  padding-top: 15px;  
}

.table-factura thead tr th{
  padding-right: 38px;
}

.table-factura tbody tr td{
  padding-bottom: 2px;
}
.block-icon{
  text-align: center;
  font-size: 30px;
  background: #1ABC9C;
  color: #fff;
  line-height: 60px;
  margin: 0 auto;
}

.fix-margin{
  margin-left: 15px;
}

.impuestos{
  height: 30px;
}

.clickable{
  cursor: pointer;
}
.productos-compras{
  padding-bottom: 15px;
}

.page-break { display:block; clear:both; page-break-after:always; }

.shadow {
  padding: 30px 0;
  background-color: #FFF;
  -webkit-box-shadow: 3px 3px 5px 3px #ccc;
}

.charts-venta{
  margin-bottom: 8px !important;
}

.success-factura{
  /*opacity: 0.6;*/
  font-size: 165px;
  text-align: center;
  color: #1ABC9C;
  background-color: #f7f7f7 !important;
}

.stepwizard-step p {
    margin-top: 10px;    
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;     
    width: 100%;
    position: relative;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;
    
}

.stepwizard-step {    
    display: table-cell;
    text-align: center;
    position: relative;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  /*line-height: 1.428571429;*/
  background-color: #e7e7e7;
  border-radius: 50%;
}
.line{
border: 1px solid #e7e7e7;  
}
