<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h3 class="modal-title" id="myModalLabel">Factura<span class="text-right"> Nº<%= @factura.numero%></span></h3>
</div>
<div class="modal-body">
  <p>
    <strong>Proveedor:</strong>
    <%= @factura.proveedor.nombre_o_razon_social%>
  </p>
  <p>
    <strong>Fecha de Emisión:</strong>
    <%= @factura.fecha_de_emision.to_s(:db) %>
  </p>
  <table class="table table-hover">
    <thead class= "well">
      <tr>
        <th>Producto</th>
        <th>Cantidad</th>
        <th>Precio</th>
        <th>Iva?</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <% @factura.productos.each do |p| %>
      <tr>
        <td><%= p.nombre%></td>
        <% p.ingreso_productos.each do |i|  %>
          <td><%= i.cantidad %>/LT:<%=i.lote%></td>
        <% end %>
        <td><%= p.precio_compra%></td>
        <td><%= yes_or_not(p.hasiva)%></td>
        <td></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <h4 class="text-success text-right">
    <strong>Total: $</strong>
    <%= @factura.total %>
  </h4>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Salir</button>
</div>
