<h3>Pacientes Militares</h3>
<table class="table table-bordered">
	<thead>
		<tr>
			<th>#</th>
			<th>Fecha de Ingreso</th>
			<th>Paciente</th>
			<th>Estado</th>
			<th>Pertenece</th>
			<th>Grado</th>
			<th>Codigo ISA</th>
			<th>Doctor</th>
			<th>Especialidad</th>
			<th>Fecha de Salida</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>1</td>
			<td>2014/03/23</td>
			<td>Lenin Capa</td>
			<td>Activo</td>
			<td>Ejercito</td>
			<td>CRNL</td>
			<td>03459</td>
			<td>Dr. Juan Anibal</td>
			<td>Odontologia</td>
			<td>2014/03/30</td>
		</tr>
		<tr>
			<td>2</td>
			<td>2014/03/23</td>
			<td>Angel Valdez</td>
			<td>Activo</td>
			<td>Ejercito</td>
			<td>CRNL</td>
			<td>03DS59</td>
			<td>Dr. Juan Anibal</td>
			<td>Odontologia</td>
			<td>2014/03/30</td>
		</tr>
		<tr>
			<td>3</td>
			<td>2014/03/23</td>
			<td>Angel Valdez</td>
			<td>Activo</td>
			<td>Ejercito</td>
			<td>CRNL</td>
			<td>0E459</td>
			<td>Dr. Juan Anibal</td>
			<td>Odontologia</td>
			<td>2014/03/30</td>
		</tr>
		<tr>
			<td>4</td>
			<td>2014/03/23</td>
			<td>Lenin Capa</td>
			<td>Activo</td>
			<td>Ejercito</td>
			<td>CRNL</td>
			<td>0DSF9</td>
			<td>Dr. Juan Anibal</td>
			<td>Odontologia</td>
			<td>2014/03/30</td>
		</tr>
	</tbody>
</table>

<h3>Pacientes Familiares - Militares </h3>
<table class="table table-bordered">
	<thead>
		<tr>
			<th>#</th>
			<th>Fecha de Ingreso</th>
			<th>Paciente</th>
			<th>Familiar</th>
			<th>Pertenece</th>
			<th>Grado</th>
			<th>Doctor</th>
			<th>Especialidad</th>
			<th>Fecha de Salida</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>1</td>
			<td>2014/03/23</td>
			<td>Lenin Capa</td>
			<td>Crnl. Manuel Marcos</td>
			<td>Ejercito</td>
			<td>CRNL</td>
			<td>Dr. Juan Anibal</td>
			<td>Odontologia</td>
			<td>2014/03/30</td>
		</tr>
		<tr>
			<td>2</td>
			<td>2014/03/23</td>
			<td>Angel Valdez</td>
			<td>Crnl. Manuel Marcos</td>
			<td>Ejercito</td>
			<td>CRNL</td>
			<td>Dr. Juan Anibal</td>
			<td>Odontologia</td>
			<td>2014/03/30</td>
		</tr>
		<tr>
			<td>3</td>
			<td>2014/03/23</td>
			<td>Angel Valdez</td>
			<td>Crnl. Manuel Marcos</td>
			<td>Ejercito</td>
			<td>CRNL</td>
			<td>Dr. Juan Anibal</td>
			<td>Odontologia</td>
			<td>2014/03/30</td>
		</tr>
		<tr>
			<td>4</td>
			<td>2014/03/23</td>
			<td>Lenin Capa</td>
			<td>Crnl. Manuel Marcos</td>
			<td>Ejercito</td>
			<td>CRNL</td>
			<td>Dr. Juan Anibal</td>
			<td>Odontologia</td>
			<td>2014/03/30</td>
		</tr>
	</tbody>
</table>
<h3>Pacientes Civiles</h3>
<table class="table table-bordered">
	<thead>
		<tr>
			<th>#</th>
			<th>Fecha de Ingreso</th>
			<th>Paciente</th>
			<th>Doctor</th>
			<th>Especialidad</th>
			<th>Fecha de Salida</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>1</td>
			<td>2014/03/23</td>
			<td>Lenin Capa</td>
			<td>Dr. Juan Anibal</td>
			<td>Odontologia</td>
			<td>2014/03/30</td>
		</tr>
		<tr>
			<td>2</td>
			<td>2014/03/23</td>
			<td>Angel Valdez</td>
			<td>Dr. Juan Anibal</td>
			<td>Odontologia</td>
			<td>2014/03/30</td>
		</tr>
		<tr>
			<td>3</td>
			<td>2014/03/23</td>
			<td>Angel Valdez</td>
			<td>Dr. Juan Anibal</td>
			<td>Odontologia</td>
			<td>2014/03/30</td>
		</tr>
		<tr>
			<td>4</td>
			<td>2014/03/23</td>
			<td>Lenin Capa</td>
			<td>Dr. Juan Anibal</td>
			<td>Odontologia</td>
			<td>2014/03/30</td>
		</tr>
	</tbody>
</table>