<!DOCTYPE html>
<html>
<head>
	<title>Sisfa</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "/assets/font-awsome/css/font-awesome.min.css"%>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if current_user %>
  <span class= "Whos" hidden><%= current_user.rol.nombre%></span>
  <header>
    <% case current_user.rol %>
      <% when Rol.administrador %>
        <%= render 'layouts/navbars/administrador' %>
      <% when Rol.vendedor %>
        <%= render 'layouts/navbars/vendedor' %>
      <% when Rol.administrador_estadistica %>
        <%= render 'layouts/navbars/estadistica' %>
    <% end %>
  </header>
  <%end%> 
  <div role="main">
    <div class="container">
      <%= render 'layouts/flash' %>
      <%= yield %>
      <%= render 'layouts/modal' %>
    </div>
  </div>
  <footer>
    <p class="text-center muted ">&copy; Copyright 2013 - Sistema Farmacia </p>
  </footer>
</body>
</html>
