<!DOCTYPE html>
<html>
<head>
	<%= wicked_pdf_stylesheet_link_tag    "application" %>
	<%= wicked_pdf_javascript_include_tag "application" %>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
</head>
<body>
	<%= yield %>
</body>
</html>
